<% if @random_names %>
  <h1>My name is <%= @random_names %></h1> <%# This heading is only displayed if 
  random_names is defined%>
<% end %>

<img style="border: 5px dashed red; width: 800px" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/domestic-cat-lies-in-a-basket-with-a-knitted-royalty-free-image-1592337336.jpg" alt="cat-image">
